
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.container .left {
  float: left;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgba(28,28,28,0.9);
  background-image: linear-gradient(180deg,#bac2c9, #bac2c9, #ffe6e3);
}

.container .right {
  float: left;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  background-color: #000;
}

.mdl-list {
  padding: 0;
  margin: 0;
}

.mdl-list__item {
  padding: 0;
}

.mdl-button {
  min-height: 64px;
  width: 100%;
}

.template {
  display: none;
}

.mdl-layout__header {
  min-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


header.mdl-layout__header {
  background-color: #002744;
  text-align: center;
}


button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored {
  background-color: #6c0d00;
  color:white;
}


@media screen and (max-width: 800px) {
  .container .left {
    display: none;
  }
  .container .right {
    width: 100%;
  }
}
/* sharing icons */
/* container */

#share {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* buttons */

#share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 20%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

#share a:hover {
    opacity: 1;
}

/* icons */

#share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
   
    background-image: url("https://image.flaticon.com/icons/svg/124/124010.svg");
}

.twitter {
     background-image: url("https://image.flaticon.com/icons/svg/733/733579.svg");
}

/* Infospot popups */

.generalQuiz {
    height: 60%;
    width: 60%;
    min-width: 200px;
    min-height: 250px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: tan;
border-style: double;
}

.generalQuiz > iframe {
    border: none;
    width:100%;
    height: 100%;
  }

.dimensionsFrame {
    height: 55%;
    width: 60%;
    min-width: 200px;
    min-height: 250px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    border: tan;
border-style: double;
}

.dimensionsFrame > iframe {
    border: none;
    width:100%;
    height: 100%;
  }

iframe {
    border: none;
    width:100%;
    height: 100%;
  }

.shareDiv {
    width: 300px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: tan;
border-style: double;
  }

.generalDialogue {
    width: 500px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

.generalDialogue > iframe {
    border: none;
    width:100%;
  }


.generalDialogue > iframe {
    border: none;
    width:100%;
  }

.wheelInfo {
    width: 500px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: tan;
border-style: double;
  }

.wheel {
    width: 500px;
    height:700px;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    overflow-y: visible;
    border: tan;
border-style: double;
  }

.wheel > iframe {
    border: none;
    width:100%;
    height: 100%;
  }

.title {
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  background-color: black;
  color:white;
}

.text {
  padding: 0 20px 20px 20px;
  color:white;
}



  /* Next and prev buttons */

button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  
}

button:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #bac2c9;
  color: black;
}

.next {
  background-color: #6c0d00;
  color: white;
}

.blue {
  background-color: #002744;
  color: white;
}

.gold {
  background-color: #ceab82;
  color: white;
}

.left-align {
  text-align: left;
}

.greyColorText {
  color:#bac2c9;
}
.redColorText {
  color:#6c0d00;
}
.blueColorText {
  color:#002744;
}
.tanColorText {
  color:#ceab82;
}
.tanHighlight {
  background-color: #ceab82;
}
.whiteHighlight{
  background-color: #FFFFFF;
}

.pinkHighlight{
  background-color: #ffe2e0;
}
.blueHighlight{
  background-color: #c2defc;
}
