

@media screen and (max-width: 1000px) {
 .smallText {
	font-size:90%;
}

.smallerText {
	font-size: 80%;
}

}

@media screen and (min-width: 1000px) {
.smallText {
	font-size: 90%;
}

.smallerText {
	font-size: 70%;
}


}
